body {
  font-family: "Sono", sans-serif;
}
.pricing-container{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.pricing-plan{
  background-color: #004282;
  flex-basis: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
}
.pricing-plan > *{
  margin: 10px;
  padding: 10px;
}
li{
  display: block;
}
.plan-price{
  font-size: 2rem;
}
.plan-button{
  border-radius: 20px;
  border: none;
}
.plan-button:hover{
  color: #fff;
  background-color: rgba(62, 62, 62, 0.662);
}


/* Hint: What can you do with a media query and flexbox? */
@media (max-width: 1250px) {
  .pricing-container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .pricing-plan{
    min-width: auto;
  }
}